name = 'Wilson Fletcher'

nav_main = [ { name: 'Work', url: '#' }, { name: 'Apporach', url: 'attachments-all' }, { name: 'All clips', url: 'clips-all' }, { name: 'All performers', url: 'performers-all' }, { name: 'All users', url: 'users-all' } ]


