* {
  box-sizing: border-box;
}


@import 'settings';

@import '_base/_fonts';
@import '_base/_normalize';
@import '_base/_type';

/* @group =sprites */
$sprites-sprite-dimensions: true;
@import 'sprite/*.png';
/* @end */

.node {
  position: relative;
  @include margin-trailer(1.5);

  @include at-breakpoint($md-media-layout) {
    @include margin-trailer(0);
  }
}

.container {
  //background-color: green;
  padding-left: 12px;
  padding-right: 12px;

  @include at-breakpoint($md-media-layout) {
    @include container;
    //@include susy-grid-background;
  }
}

.header {
  background-color: $white;
  @include padding-leader(2);
  @include padding-trailer(2);
}

.brand {
  max-width: 100%;

  @include at-breakpoint($md-media-layout) {
    float: $default-float;
  }
}

.nav--main {
  float: $opposite-direction;
  @include inline-list;
  ul {
    @include margin-trailer(0);
  }
}

.nav__link {
  color: $black;
  font-family: $avenir-next-condensed-demi-bold;
  text-transform: uppercase;
}

.foo__image {
  @extend %center;
  display: block;
}

.section {
  border-bottom-color: #eee;
  @include padding-leader(3);
  @include trailing-border(1px, 5);
}

.section--light {
  background-color: #fff;
}

.section--dark {
  background-color: #f2f1f0;
}

.section__header {
  position: relative;
  @include margin-trailer(3);

  .btn {
    @include stretch(0, 0, false, false);
  }
}

.section__name {
  font-family: $avenir-next-condensed-medium;
  text-transform: uppercase;
  @include adjust-font-size-to(24px);
}

.section__description {
  color: #262C24;
  font-family: $caecilia-light;
  @include adjust-font-size-to(36px, 6);
  @include margin-trailer(5);
}




.work {
  background-color: $gray-dark;

  .btn {
    @include stretch(false, 0, -12px, false);
  }
}

.work__image {
  display: block;
}

.work__body {
  padding: rhythm(2) rhythm(2) rhythm(6);
  color: $white;
}

.work__name {
  color: $white;
  @include adjust-font-size-to(24px, 3);
  @include margin-trailer(1.25);
}

.work__description {
  @include margin-trailer(0);
}



.product {
  background-color: #F2F1F0;
  text-align: center;
  padding: rhythm(4);
  overflow: hidden;
}

.product__name {
  font-family: $avenir-next-condensed-medium;
  text-transform: uppercase;
  @include adjust-font-size-to(24px, 3);
  @include margin-trailer(2);
}

.product__url {
  display: block;
  font-family: $avenir-next-condensed-demi-bold;
  text-transform: uppercase;
  @include margin-trailer(2);
}

.product__image {
  @extend %center;
  display: block;
  text-align: center;
  @include margin-trailer(3);
}

.article__image {
  @include margin-trailer(2);
}

.article__name {
  font-family: $caecilia-italic;
  @include adjust-font-size-to(21px, 3.75);
}

.footer .section {
  background-color: $red;
  color: $white;

  @include at-breakpoint($md-media-layout) {
    @include span-columns(2 omega);
  }
}


.date {
  display: block;
  font-family: $avenir-next-condensed-demi-bold;
  text-transform: uppercase;
  @include margin-trailer(1);
}

.image {
  display: block;
}



.btn {
  color: $white;
  display: inline-block;
  font-family: $avenir-next-condensed-demi-bold;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .25s;
  padding: rhythm(1) rhythm(5) rhythm(1) rhythm(2);
  position: relative;
  @include adjust-font-size-to(16px, 3);

  #{$hover} {
    background-color: darken($red, 20);
    color: $white;
  }
}

.btn--primary {
  background-color: #ED2E38;
}

.btn--right {
  @include float($opposite-direction);
}

.icon {
  display: block;
}

.icon--arrow-right {
  @include sprite-sprite(arrow-right, true);

  .btn & {
    @include stretch(50%, 16px, false, false);
    @include margin-leader(-1);
  }
}

.icon

.footer {
  color: #777;
  @include padding-leader(3);
  @include padding-trailer(3);
}

.status {
  background-color: $red;
  color: $white;
  font-family: $avenir-next-condensed-medium;
  padding: rhythm(.5);
  text-transform: uppercase;
  user-select: none;
  @include stretch(0, false, false, 0);

  // .csstransforms & {
  //   padding: 24px 24px 12px;
  //   @include rotateZ(-45deg);
  // }
}

.status--free {
  background-color: $green;
}

.tab {
  background-color: $red;
  display: block;
  @include size(4px,60px);
}


@include at-breakpoint($md-media-layout) {

  .section {
    @include padding-leader(6);
  }

  .work,
  .product {
    @include isolate-grid(1);
    @include margin-trailer(0);
  }

  .article {
    @include isolate-grid(1, 4);
  }

}






@import '_helpers/_placeholders';
