%center {
  margin-left: auto;
  margin-right: auto;
}

%no-bullet {
  @include no-bullet;
}

%unstyled {
  @extend %no-bullet;
  margin-#{$default-float}: 0;
}

%box-sizing-border-box {
  @include box-sizing(border-box);
}

%clearfix {
  @include clearfix;
}

.clearfix {
  @extend %clearfix;
}

%pie-clearfix {
  @include pie-clearfix;
}

%fluid {
  display: block;
  max-width: 100%;
  width: 100%;
}

%default-float {
  @include float($default-float);
}

%inline-block {
  @include inline-block(middle);
}

%inline-block-top {
  @include inline-block(top);
}

%hide-text {
  overflow: hidden;
  text-align: $default-float;
  text-indent: -119988px;
}

%break-word {
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  @include hyphens(auto);
}
