/* @group =table */
table {
  // border-collapse: collapse;
  // border-spacing: 0;
  // width: 100%;
  @include adjust-font-size-to(14px);
  @include margin-trailer(0);
}

.table td {
  @include padding-leader(1.5);
  @include padding-trailer(1.5);
}

.table__name {
  @include adjust-font-size-to(24px);
}

.table thead td {
  border-bottom-color: #ccc;
  @include trailing-border(2px, 1.25);

  img {
    margin-#{$default-float}: 8px;
  }
}

.table tbody td {
  border-bottom-color: #4d4d4f;
  border-bottom-color: rgba(#ccc, .16);
  vertical-align: top;
  text-align: $default-float;
  @include trailing-border(1px, 1.25);
}

.table td.date {
  width: 160px;
}

.table td.team-a {
  width: 180px;
}

.table td.vs {
  width: 40px;
  text-align: center;
}

.table td.team-b {
  text-align: $opposite-direction;
  width: 180px;
}

.table td.time {
  text-align: $opposite-direction;
  width: 60px;
}

.toggle {
  @include adjust-font-size-to(14px);
  @include margin-leader(1);
  display: block;
  text-align: $opposite-direction;
  text-decoration: none;

  &:focus {
    outline: 0 none;
  }
}
/* @end */
