body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  direction: $text-direction;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%;
}

body {
  background-color: $base-background;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include adjust-font-size-to($base-font-size, 3); // 16px / 24px
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

a {
  @extend %break-word;
  color: $link-color;
  text-decoration: none;
  transition: color 25s linear;
  -webkit-tap-highlight-color: transparent;

  #{$hover} {
    color: $link-color-hover;
  }
}

$headings: 'h1,h2,h3,h4,h5,h6';

#{$headings} {
  font-weight: normal;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
  @include adjust-font-size-to(14px, 4); // 14px / 24px
  @include margin-trailer(2); // 12px
}

p {
  //@include adjust-font-size-to(14px, 3.4); // 14px / 20px
  @include margin-trailer(3); // 18px
}

strong {
  font-weight: 600;
}

abbr[title] {
  border: none;
}

ul,
ol {
  list-style-position: inside;
  @include margin-trailer(3);
}

.unstyled {
  @include no-bullet;

  li {
    @extend %pie-clearfix;
  }
}

.text-right {
  text-align: $opposite-direction !important;
}

.text-center {
  text-align: center;
}

.inline-list {
  @include adjust-font-size-to(13px);
  @include inline-list;

  li {
    padding-#{$opposite-direction}: 8px;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.mark {
  color: $yellow;
  font-weight: 600;
}

