.container {
  //background-color: #ccc;
  padding: rhythm(2);

  @include at-breakpoint(6) {
    margin-left: auto;
    margin-right: auto;
    padding: rhythm(3);
    @include set-container-width(12);
  }
}

.main {
  @include margin-trailer(3);
}

