extends _layouts/_default

block main

  section(class='foo')
    div(class='foo__item')
      img(src='images/carousel.jpg', alt='', class='foo__image')
      div(class='foo__body')
        h2 BT Sport app reaches two millionth download
        a(href='#') Read how we helped BT Sport transform it’s vision into reality 

  section(class='section section--dark', id='work')
    div(class='container')
      header(class='section__header')
        h1(class='section__name')
          | Our work
          span(class='tab')
        a(href='#', class='btn btn--primary btn--right')
          | More about our work
          span(class='icon icon--arrow-right')
      div(class='section__body')
        h2(class='section__description') We help our clients craft commercially successful digital services that their customers love. Like these.
        div(class='pie-clearfix')
          mixin work('Kiss FM', 'Wilson Fletcher work with Bauer Media to redesign their flag ship radio station app.', '', '', '')
          mixin work('Grazia', 'Wilson Fletcher work with Bauer Media to redesign their flag ship radio station app.', '', '', '')
          mixin work('BT Sport', 'Media to redesign their flag ship radio station app.', '', '', '')

  section(class='section section--light', id='products')
    div(class='container')
      header(class='section__header')
        h1(class='section__name')
          | Our products
          span(class='tab')

        a(href='#', class='btn btn--primary btn--right')
          | More about our products
          span(class='icon icon--arrow-right')

      div(class='section__body')
        h2(class='section__description') We invent, design and build our own digital products and services, so we understand your pain. 
        div(class='clearfix')
          mixin product('The Human Layer', 'Normally, both your asses would be dead as fucking fried chicken, but I’m in a transitional period', 'thehumanlayer.com', 'free', 'product-1@2x.png')
          mixin product('Cronycle', 'Normally, both your asses would be dead as fucking fried chicken, but I’m in a transitional period', 'cronycle.com', 'beta', 'product-2@2x.png')
          mixin product('Curly\'s Pocket Guide', 'Normally, both your asses would be dead as fucking fried chicken', 'curlyspocketguide.com', '', 'product-3@2x.png')

  section(class='section section--light')
    div(class='container')
      header(class='section__header')
        h1(class='section__name')
          | Latest thoughts
          span(class='tab')
        a(href='#', class='btn btn--primary btn--right')
          | More thoughts
          span(class='icon icon--arrow-right')
      div(class='section__body')
        h2(class='section__description') General thoughts on our processess and the industry, most of this has not been tested in Internet Explorer.
        div(class='clearfix')
          mixin article('Don’t go chasing waterfalls when here is Agile about', 'Normally, both your asses would be dead as fucking fried chicken, but I’m in a transitional period', '21 June 2013', '#')
          mixin article('Why all our designer code', 'Normally, both your asses would be dead as fucking fried chicken, but I’m in a transitional period', '21 July 2014', '#')
          mixin article('Why all our designer code', 'Normally, both your asses would be dead as fucking fried chicken, but I’m in a transitional period', '21 November 2014', '#')
          mixin article('Why all our designer code', 'Normally, both your asses would be dead as fucking fried chicken, but I’m in a transitional period', '21 December 2014', '#')




