%center {
  margin-left: auto;
  margin-right: auto;
}

%no-bullet {
  @include no-bullet;
}

%unstyled {
  @extend %no-bullet;
  margin-#{$default-float}: 0;
}

%box-sizing-border-box {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix;
}

.clearfix {
  @extend %clearfix;
}

%pie-clearfix {
  @include pie-clearfix;
}

%fluid-image {
  display: block;
  max-width: none;
  width: 100%;
}

%default-float {
  @include float($default-float);
}

%inline-block {
  @include inline-block(middle);
}

%inline-block-top {
  @include inline-block(top);
}

%hide-text {
  //@include hide-text;
  text-indent: -119988px;
  overflow: hidden;
  text-align: $default-float;
}

%break-word {
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
