extends layouts/_default

block title

  mixin title('Grid')

block main

  h2 Grid

  h3 Default columns

  div(class='clearfix')
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 column') 1
    div(class='lg-1 omega column') 1

  div(class='clearfix')
    div(class='lg-2 column') 2
    div(class='lg-2 column') 2
    div(class='lg-2 column') 2
    div(class='lg-2 column') 2
    div(class='lg-2 column') 2
    div(class='lg-2 omega column') 2

  div(class='clearfix')
    div(class='lg-3 column') 3
    div(class='lg-3 column') 3
    div(class='lg-3 column') 3
    div(class='lg-3 omega column') 3

  div(class='clearfix')
    div(class='lg-4 column') 4
    div(class='lg-4 column') 4
    div(class='lg-4 omega column') 4

  div(class='clearfix')
    div(class='lg-5 column') 5
    div(class='lg-7 omega column') 7

  div(class='clearfix')
    div(class='lg-6 column') 6
    div(class='lg-6 omega column') 6

  div(class='clearfix')
    div(class='lg-7 column') 7
    div(class='lg-5 omega column') 5

  div(class='clearfix')
    div(class='lg-8 column') 8
    div(class='lg-4 omega column') 4

  div(class='clearfix')
    div(class='lg-9 column') 9
    div(class='lg-3 omega column') 3

  div(class='clearfix')
    div(class='lg-10 column') 10
    div(class='lg-2 omega column') 2

  div(class='clearfix')
    div(class='lg-11 column') 11
    div(class='lg-1 omega column') 1

  div(class='clearfix')
    div(class='lg-12 column') 12

  h3 Push columns

  div(class='clearfix')
    div(class='lg-1 lg-push-1 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-2 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-3 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-4 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-5 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-6 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-7 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-8 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-9 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-10 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-11 column') 1

  h3 Pull columns

  div(class='clearfix')
    div(class='lg-1 lg-pull-1 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-pull-2 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-3 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-4 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-5 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-6 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-7 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-8 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-9 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-10 column') 1

  div(class='clearfix')
    div(class='lg-1 lg-push-11 column') 1

  h3 Centered columns

  div(class='clearfix')
    div(class='lg-1 lg-centered column') 1

  div(class='clearfix')
    div(class='lg-2 lg-centered column') 2

  div(class='clearfix')
    div(class='lg-3 lg-centered column') 3

  div(class='clearfix')
    div(class='lg-4 lg-centered column') 4

  div(class='clearfix')
    div(class='lg-5 lg-centered column') 5

  div(class='clearfix')
    div(class='lg-6 lg-centered column') 6

  div(class='clearfix')
    div(class='lg-7 lg-centered column') 7

  div(class='clearfix')
    div(class='lg-8 lg-centered column') 8

  div(class='clearfix')
    div(class='lg-9 lg-centered column') 9

  div(class='clearfix')
    div(class='lg-10 lg-centered column') 10

  div(class='clearfix')
    div(class='lg-11 lg-centered column') 11

  div(class='clearfix')
    div(class='lg-12 lg-centered column') 12

  h3 Uncentered columns

  div(class='clearfix')
    div(class='lg-1 lg-centered lg-uncentered column') 1

  div(class='clearfix')
    div(class='lg-2 lg-centered lg-uncentered column') 2

  div(class='clearfix')
    div(class='lg-3 lg-centered lg-uncentered column') 3

  div(class='clearfix')
    div(class='lg-4 lg-centered lg-uncentered column') 4

  div(class='clearfix')
    div(class='lg-5 lg-centered lg-uncentered column') 5

  div(class='clearfix')
    div(class='lg-6 lg-centered lg-uncentered column') 6

  div(class='clearfix')
    div(class='lg-7 lg-centered lg-uncentered column') 7

  div(class='clearfix')
    div(class='lg-8 lg-centered lg-uncentered column') 8

  div(class='clearfix')
    div(class='lg-9 lg-centered lg-uncentered column') 9

  div(class='clearfix')
    div(class='lg-10 lg-centered lg-uncentered column') 10

  div(class='clearfix')
    div(class='lg-11 lg-centered lg-uncentered column') 11

  div(class='clearfix')
    div(class='lg-12 lg-centered lg-uncentered column') 12

  h3 Uncentered opposite columns

  div(class='clearfix')
    div(class='lg-1 lg-centered lg-uncentered opposite column') 1

  div(class='clearfix')
    div(class='lg-2 lg-centered lg-uncentered opposite column') 2

  div(class='clearfix')
    div(class='lg-3 lg-centered lg-uncentered opposite column') 3

  div(class='clearfix')
    div(class='lg-4 lg-centered lg-uncentered opposite column') 4

  div(class='clearfix')
    div(class='lg-5 lg-centered lg-uncentered opposite column') 5

  div(class='clearfix')
    div(class='lg-6 lg-centered lg-uncentered opposite column') 6

  div(class='clearfix')
    div(class='lg-7 lg-centered lg-uncentered opposite column') 7

  div(class='clearfix')
    div(class='lg-8 lg-centered lg-uncentered opposite column') 8

  div(class='clearfix')
    div(class='lg-9 lg-centered lg-uncentered opposite column') 9

  div(class='clearfix')
    div(class='lg-10 lg-centered lg-uncentered opposite column') 10

  div(class='clearfix')
    div(class='lg-11 lg-centered lg-uncentered opposite column') 11

  div(class='clearfix')
    div(class='lg-12 lg-centered lg-uncentered opposite column') 12

  h3 Nested columns

  div(class='clearfix')
    div(class='lg-2')
      div(class='column') 2
      div(class='clearfix')
        div(class='lg-1-2 column') 1
        div(class='lg-1-2 omega column') 1
    div(class='lg-2')
      div(class='column') 2
      div(class='clearfix')
        div(class='lg-1-2 column') 1
        div(class='lg-1-2 omega column') 1
    div(class='lg-2')
      div(class='column') 2
      div(class='clearfix')
        div(class='lg-1-2 column') 1
        div(class='lg-1-2 omega column') 1
    div(class='lg-2')
      div(class='column') 2
      div(class='clearfix')
        div(class='lg-1-2 column') 1
        div(class='lg-1-2 omega column') 1
    div(class='lg-2')
      div(class='column') 2
      div(class='clearfix')
        div(class='lg-1-2 column') 1
        div(class='lg-1-2 omega column') 1
    div(class='lg-2 lg-omega')
      div(class='column') 2
      div(class='clearfix')
        div(class='lg-1-2 column') 1
        div(class='lg-1-2 omega column') 1

  div(class='clearfix')
    div(class='lg-3')
      div(class='column') 3
      div(class='clearfix')
        div(class='lg-2-3 column') 2
        div(class='lg-1-3 omega column') 1
    div(class='lg-3')
      div(class='column') 3
      div(class='clearfix')
        div(class='lg-1-3 column') 1
        div(class='lg-1-3 column') 1
        div(class='lg-1-3 omega column') 1
    div(class='lg-3')
      div(class='column') 3
      div(class='clearfix')
        div(class='lg-1-3 column') 1
        div(class='lg-1-3 column') 1
        div(class='lg-1-3 omega column') 1
    div(class='lg-3 omega')
      div(class='column') 3
      div(class='clearfix')
        div(class='lg-1-3 column') 1
        div(class='lg-1-3 column') 1
        div(class='lg-1-3 omega column') 1

  div(class='clearfix')
    div(class='lg-4')
      div(class='column') 4
      div(class='clearfix')
        div(class='lg-3-4 column') 3
        div(class='lg-1-4 omega column') 1
    div(class='lg-4')
      div(class='column') 4
      div(class='clearfix')
        div(class='lg-2-4 column') 2
        div(class='lg-2-4 omega column') 2
    div(class='lg-4 omega')
      div(class='column') 4
      div(class='clearfix')
        div(class='lg-1-4 column') 1
        div(class='lg-1-4 column') 1
        div(class='lg-1-4 column') 1
        div(class='lg-1-4 omega column') 1

  div(class='clearfix')
    div(class='lg-5')
      div(class='column') 5
      div(class='clearfix')
        div(class='lg-4-5 column') 4
        div(class='lg-1-5 column omega') 1
    div(class='lg-1 column') 1
    div(class='lg-5')
      div(class='column') 5
      div(class='clearfix')
        div(class='lg-4-5 column') 4
        div(class='lg-1-5 omega column') 1
    div(class='lg-1 column omega') 1

  div(class='clearfix')
    div(class='lg-6')
      div(class='column') 6
      div(class='clearfix')
        div(class='lg-5-6 column') 5
        div(class='lg-1-6 column omega') 1

    div(class='lg-6 omega')
      div(class='column') 6
      div(class='clearfix')
        div(class='lg-4-6 column') 4
        div(class='lg-2-6 column omega') 2

  div(class='clearfix')
    div(class='lg-6')
      div(class='column') 6
      div(class='clearfix')
        div(class='lg-3-6 column') 3
        div(class='lg-3-6 column omega') 3
    div(class='lg-6 omega')
      div(class='column') 6
      div(class='clearfix')
        div(class='lg-2-6 column') 2
        div(class='lg-2-6 column') 2
        div(class='lg-2-6 column omega') 2

  div(class='clearfix')
    div(class='lg-7')
      div(class='column') 7
      div(class='clearfix')
        div(class='lg-6-7 column') 6
        div(class='lg-1-7 column') 1
    div(class='lg-5 stretch column') 5

  div(class='clearfix')
    div(class='lg-7')
      div(class='column') 7
      div(class='clearfix')
        div(class='lg-5-7 column') 5
        div(class='lg-2-7 column') 2
    div(class='lg-5 stretch column omega') 5

  div(class='clearfix')
    div(class='lg-7')
      div(class='column') 7
      div(class='clearfix')
        div(class='lg-4-7 column') 4
        div(class='lg-3-7 column') 3
    div(class='lg-5 stretch column') 5

  div(class='clearfix')
    div(class='lg-7')
      div(class='column') 7
      div(class='clearfix')
        div(class='lg-1-7 column') 1
        div(class='lg-1-7 column') 1
        div(class='lg-1-7 column') 1
        div(class='lg-1-7 column') 1
        div(class='lg-1-7 column') 1
        div(class='lg-1-7 column') 1
        div(class='lg-1-7 column') 1
    div(class='lg-5 stretch column') 5

  div(class='clearfix')
    div(class='lg-8')
      div(class='column') 8
      div(class='clearfix')
        div(class='lg-7-8 column') 7
        div(class='lg-1-8 column') 1
    div(class='lg-4 stretch column') 4

  div(class='clearfix')
    div(class='lg-8')
      div(class='column') 8
      div(class='clearfix')
        div(class='lg-6-8 column') 6
        div(class='lg-2-8 column') 2
    div(class='lg-4 stretch column') 4

  div(class='clearfix')
    div(class='lg-8')
      div(class='column') 8
      div(class='clearfix')
        div(class='lg-5-8 column') 5
        div(class='lg-3-8 column') 3
    div(class='lg-4 stretch column') 4

  div(class='clearfix')
    div(class='lg-8 column') 8
      div(class='clearfix')
        div(class='lg-4-8 column') 4
        div(class='lg-4-8 column') 4
    div(class='lg-4 stretch column') 4

  div(class='clearfix')
    div(class='lg-8')
      div(class='column') 8
      div(class='clearfix')
        div(class='lg-3-8 column') 3
        div(class='lg-3-8 column') 3
        div(class='lg-2-8 column') 2
    div(class='lg-4 stretch column') 4

  div(class='clearfix')
    div(class='lg-8')
      div(class='column') 8
      div(class='clearfix')
        div(class='lg-1-8 column') 1
        div(class='lg-1-8 column') 1
        div(class='lg-1-8 column') 1
        div(class='lg-1-8 column') 1
        div(class='lg-1-8 column') 1
        div(class='lg-1-8 column') 1
        div(class='lg-1-8 column') 1
        div(class='lg-1-8 column') 1
    div(class='lg-4 stretch column') 4

  div(class='clearfix')
    div(class='lg-9')
      div(class='column') 9
      div(class='clearfix')
        div(class='lg-8-9 column') 8
        div(class='lg-1-9 column') 1
    div(class='lg-3 stretch column') 3

  div(class='clearfix')
    div(class='lg-9')
      div(class='column') 9
      div(class='clearfix')
        div(class='lg-7-9 column') 7
        div(class='lg-2-9 column') 2
    div(class='lg-3 stretch column') 3

  div(class='clearfix')
    div(class='lg-9 column') 9
      div(class='clearfix')
        div(class='lg-6-9 column') 6
        div(class='lg-3-9 column') 3
    div(class='lg-3 stretch column') 3

  div(class='clearfix')
    div(class='lg-9')
      div(class='column') 9
      div(class='clearfix')
        div(class='lg-5-9 column') 5
        div(class='lg-4-9 column') 4
    div(class='lg-3 stretch column') 3

  div(class='clearfix')
    div(class='lg-9')
      div(class='column') 9
      div(class='clearfix')
        div(class='lg-3-9 column') 3
        div(class='lg-3-9 column') 3
        div(class='lg-3-9 column') 3
    div(class='lg-3 stretch column') 3

  div(class='clearfix')
    div(class='lg-9')
      div(class='column') 9
      div(class='clearfix')
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
        div(class='lg-1-9 column') 1
    div(class='lg-3 stretch column') 3

  div(class='clearfix')
    div(class='lg-10')
      div(class='column') 10
      div(class='clearfix')
        div(class='lg-9-10 column') 9
        div(class='lg-1-10 column') 1
    div(class='lg-2 stretch column') 2

  div(class='clearfix')
    div(class='lg-10')
      div(class='column') 10
      div(class='clearfix')
        div(class='lg-8-10 column') 8
        div(class='lg-2-10 column') 2
    div(class='lg-2 stretch column') 2

  div(class='clearfix')
    div(class='lg-10')
      div(class='column') 10
      div(class='clearfix')
        div(class='lg-7-10 column') 7
        div(class='lg-3-10 column') 3
    div(class='lg-2 stretch column') 2

  div(class='clearfix')
    div(class='lg-10')
      div(class='column') 10
      div(class='clearfix')
        div(class='lg-6-10 column') 6
        div(class='lg-4-10 column') 4
    div(class='lg-2 stretch column') 2

  div(class='clearfix')
    div(class='lg-10')
      div(class='column') 10
      div(class='clearfix')
        div(class='lg-5-10 column') 5
        div(class='lg-5-10 column') 5
    div(class='lg-2 stretch column') 2

  div(class='clearfix')
    div(class='lg-10')
      div(class='column') 10
      div(class='clearfix')
        div(class='lg-2-10 column') 2
        div(class='lg-2-10 column') 2
        div(class='lg-2-10 column') 2
        div(class='lg-2-10 column') 2
        div(class='lg-2-10 column') 2
    div(class='lg-2 stretch column') 2

  div(class='clearfix')
    div(class='lg-10')
      div(class='column') 10
      div(class='clearfix')
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
        div(class='lg-1-10 column') 1
    div(class='lg-2 stretch column') 2

  div(class='clearfix')
    div(class='lg-11')
      div(class='column') 11
      div(class='clearfix')
        div(class='lg-10-11 column') 10
        div(class='lg-1-11 column') 1
    div(class='lg-1 stretch column') 1

  div(class='clearfix')
    div(class='lg-11')
      div(class='column') 11
      div(class='clearfix')
        div(class='lg-9-11 column') 9
        div(class='lg-2-11 column') 2
    div(class='lg-1 stretch column') 1

  div(class='clearfix')
    div(class='lg-11')
      div(class='column') 11
      div(class='clearfix')
        div(class='lg-8-11 column') 8
        div(class='lg-3-11 column') 3
    div(class='lg-1 stretch column') 1

  div(class='clearfix')
    div(class='lg-11')
      div(class='column') 11
      div(class='clearfix')
        div(class='lg-7-11 column') 7
        div(class='lg-4-11 column') 4
    div(class='lg-1 stretch column') 1

  div(class='clearfix')
    div(class='lg-11')
      div(class='column') 11
      div(class='clearfix')
        div(class='lg-6-11 column') 6
        div(class='lg-5-11 column') 5
    div(class='lg-1 stretch column') 1

  div(class='clearfix')
    div(class='lg-11')
      div(class='column') 11
      div(class='clearfix')
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
        div(class='lg-1-11 column') 1
    div(class='lg-1 stretch column') 1

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-11-12 column') 11
        div(class='lg-1-12 column') 1

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-10-12 column') 10
        div(class='lg-2-12 column') 2

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-9-12 column') 9
        div(class='lg-3-12 column') 3

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-8-12 column') 8
        div(class='lg-4-12 column') 4

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-7-12 column') 7
        div(class='lg-5-12 column') 5

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-6-12 column') 6
        div(class='lg-6-12 column') 6

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-4-12 column') 4
        div(class='lg-4-12 column') 4
        div(class='lg-4-12 column') 4

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-3-12 column') 3
        div(class='lg-3-12 column') 3
        div(class='lg-3-12 column') 3
        div(class='lg-3-12 column') 3

  div(class='clearfix')
    div(class='lg-12')
      div(class='column') 12
      div(class='clearfix')
        div(class='lg-2-12 column') 2
        div(class='lg-2-12 column') 2
        div(class='lg-2-12 column') 2
        div(class='lg-2-12 column') 2
        div(class='lg-2-12 column') 2
        div(class='lg-2-12 column') 2
