extends _layouts/_default

block vars

  - var name = 'Home'
  - var description = 'Home description'

block title

  title #{site.name} — #{name}

block prepend meta

  //- Google meta
    meta(name='google-site-verification', content='XXXXXXXXXXXX')

block main

  ul
    li: a(href='/styleguide/') Styleguide
    li: a(href='/grid/') Grid
