extends _layouts/_default

block title

  title #{site.name} — #{description}

block prepend meta

  //- Google meta
    meta(name='google-site-verification', content='XXXXXXXXXXXX')

block main

  div(class='node foo')
  div(class='node bar')
  div(class='node baz')
  div(class='node tgif')
  div(class='node omg')
  div(class='node wtf')
  div(class='node bbq')
  div(class='node zztop')
  div(class='node csny')
  div(class='node elp')
  div(class='node omgdpr')
