extends _layouts/_default

block page

  - name = 'Home'
  - description = 'Home description'

block title

  title #{site.name} — #{name}

block main

  ul
    li: a(href='styleguide.html') Styleguide
    li: a(href='grid.html') Grid
