extends layouts/_default

block page

block title

  mixin title('Styleguide')

block main

  :markdown

    This styleguide template contains many common HTML elements. You can use it to demonstrate the look of your designs across a variety of content.

    * * *

    # Headings

    # Heading 1

    ## Heading 2

    ### Heading 3

    #### Heading 4

    ##### Heading 5

    ###### Heading 6

    * * *

    # Headings with Text

    # Heading 1

    Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.

    ## Heading 2

    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.

    ### Heading 3

    Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.

    #### Heading 4

    Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.

    ##### Heading 5

    Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.

    ###### Heading 6

    Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.

    * * *

    # Paragraph

    Lorem ipsum dolor sit amet, [this is a hyperlink](# "This is a hyperlink") adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.

    Lorem ipsum dolor sit amet, **this text is strong** adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.

    Lorem ipsum dolor sit amet, _this text is emphasized_ consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
    ![Placeholder Image and Some Alt Text](http://placehold.it/350x150 "A title element for this placeholder image.")

    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.

    > "This is a blockquote. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl." 
    > -Author

    #  Text Elements

    The [a element](#) example

    The <abbr>abbr element</abbr> and an <abbr title="Abbreviation">abbr</abbr> element with title examples

    The <acronym title="A Cowboy Ran One New York Marathon">ACRONYM</acronym> element example

    The **b element** example

    The <cite>cite element</cite> example

    The `code element` example

    The _em element_ example

    The <del>del element</del> example

    The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples

    The _i element_ example

    The <ins>ins element</ins> example

    The <kbd>kbd element</kbd> example

    The <mark>mark element</mark> example

    The <q>q element</q> example

    The <q>q element <q>inside</q> a q element</q> example

    The <s>s element</s> example

    The <samp>samp element</samp> example

    The <small>small element</small> example

    The <span>span element</span> example

    The **strong element** example

    The <sub>sub element</sub> example

    The <sup>sup element</sup> example

    The <u>u element</u> example

    The <var>var element</var> example

    * * *

    # Monospace / Preformatted

    Code block wrapped in "pre" and "code" tags:

        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.

    Monospace Text wrapped in "pre" tags:

    <pre>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</pre>

    * * *

    # List Types

    ### Ordered List

    1.  List Item 1
    2.  List Item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
    3.  List Item 3

    ### Unordered List

    *   List Item 1
    *   List Item 2
    *   List Item 3

    ### Definition List

    <dl>
      <dt>Definition List Term 1</dt>
      <dd>This is a definition list description.</dd>
      <dt>Definition List Term 2</dt>
      <dd>This is a definition list description.</dd>
      <dt>Definition List Term 3</dt>
      <dd>This is a definition list description.</dd>
    </dl>

    * * *

    # Tables

    <table>
      <tr>
        <th>Table Header 1</th>
        <th>Table Header 2</th>
        <th>Table Header 3</th>
      </tr>
      <tr>
        <td>Division 1</td>
        <td>Division 2</td>
        <td>Division 3</td>
      </tr>
      <tr class="even">
        <td>Division 1</td>
        <td>Division 2</td>
        <td>Division 3</td>
      </tr>
      <tr>
        <td>Division 1</td>
        <td>Division 2</td>
        <td>Division 3</td>
      </tr>
    </table>

    * * *

    # Fieldsets, Legends, and Form Elements

    This last section contains elements that don't render well in markdown. Please consult the final section in [styleguide.html](https://github.com/bryanbraun/frontend-styleguide/blob/master/styleguide.html), to see the rest of the styleguide.

  fieldset
    legend Legend
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.

      form
        h2 Form Element
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.
        p
          label(for='text_field') Text Field:
          br
          input(id='text_field', type='text')
        p
          label(for='text_area') Text Area:
          br
          textarea(id='text_area')
        p
          label(for='select_element') Select Element:
          br
          select(name='select_element')
            optgroup(label='Option Group 1')
              option(value='1') Option 1
              option(value='2') Option 2
              option(value='3') Option 3
            optgroup(label='Option Group 2')
              option(value='1') Option 1
              option(value='2') Option 2
              option(value='3') Option 3
        p
          label(for='radio_buttons') Radio Buttons:
          br

          input.radio(type='radio', name='radio_button', value='radio_1')
          |  Radio 1
          br
          input.radio(type='radio', name='radio_button', value='radio_2')
          |  Radio 2
          br
          input.radio(type='radio', name='radio_button', value='radio_3')
          |  Radio 3
          br
        p
          label(for='checkboxes') Checkboxes:
          br
          input.checkbox(type='checkbox', name='checkboxes', value='check_1')
          |  Radio 1
          br
          input.checkbox(type='checkbox', name='checkboxes', value='check_2')
          |  Radio 2
          br
          input.checkbox(type='checkbox', name='checkboxes', value='check_3')
          |  Radio 3
          br
        p
          label(for='password') Password:
          br
          input.password(type='password', name='password')
        p
          label(for='file') File Input:
          br
          input.file(type='file', name='file')
        h3 HTML5-specific Form Elements
        p
          label(for='email') Email:
          br
          input(type='email')
        p
          label(for='url') URL:
          br
          input(type='url')
        p
          label(for='tel') Telephone:
          br
          input(type='tel')
        p
          label(for='number') Number:
          br
          input(type='number', min='0', max='10', step='1', value='5')
        p
          label(for='search') Search:
          br
          input(type='search')
        p
          label(for='date') Date:
          br
          input(type='date')
        p
          label(for='time') Time:
          br
          input(type='time')
        p
          label(for='color') Color:
          br
          input(type='color')
        p
          input(type='reset', value='Clear')
          input(type='submit', value='Submit')
