- site = { name: 'CodeKit 2 Starter', description: 'CodeKit 2 Starter boilerplate', url: 'http://lanceguyatt.com/codekit-2-starter', copyrightYear: 2014, lang: 'en-gb', dir: 'ltr', locale: 'en_GB', type: 'webpage', image: 'apple-touch-icon-152x152.png' }

- author = { name: 'Lance Guyatt', url: 'http://lanceguyatt.com/', twitter: '@lanceguyatt' }

- paths = { images: '/assets/images/', css: '/assets/stylesheets/css', js: '/assets/javascripts/js' }

- nav_main = [ { name: 'Styleguide', url: '/styleguide/' }, { name: 'Grid', url: '/grid/' } ]
