// Vertical rhythm
$base-font-size: 16px;
$base-line-height: 8px;
//$relative-font-sizing: false;

// Text direction
$text-direction: ltr;
// $default-float: left;
// $opposite-direction: right;

// @if $text-direction == ltr {
//   $default-float: left;
//   $opposite-direction: right;
// } @else {
//   $default-float: right;
//   $opposite-direction: left;
// }

$white: #fff;
$black: #000;

// color scheme
$primary: #ED2E38;
$secondary: #5CC9BA;
$tertiary: #292E26;
$quadrary: #BFBAB5;

// Scaffolding
$base-background: $white;
$base-font-color: #333;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
$base-font-weight: 300;
$base-font-style: normal;

// element helpers
$foo: 'p, ul, ol, dl, table, pre';
$elements-block: elements-of-type(block);
$elements-inline: elements-of-type(inline);
$elements-inline-block: elements-of-type(inline-block);

// links
$link-color: #4183c4 !default;
$link-color-hover: darken($link-color, 20) !default;
$hover: '&:focus, &:hover, &:active';

@import 'compass';
@import 'compass/layout';
@import "compass/css3";

// Susy
$susy: (
  columns: 4,
  gutters: 1.25em/3.75em,
  flow: $text-direction
);

$sm-layout: (
  columns: 4
);

$md-layout: (
  columns: 8,
);

$lg-layout: (
  columns: 12,
  column-width: 3.75em
);

@import '../_vendor/susy';

$breakpoint-wide-portrait: (max-width 700px) (orientation portrait);

$no-query: '.lt-ie9';

$range: 480px 768px;

$sm-min: min-width 481px;
$sm-max: max-width 481px;

$md-min: min-width 569px;
$md-max: max-width 569px;

$lg-min: min-width 769px;
$lg-max: max-width 769px;

$breakpoint-medium-width: 500px;
$breakpoint-medium-width-em: 30em;
// set min-width/max-width if both values are numbers
$breakpoint-medium-not-wide: 500px 700px;
// set min/max of feature if there are two numbers
$breakpoint-medium-height: height 300px 700px;
// if one value is a string, assume a feature/value pair
$breakpoint-kind-of-wide: min-width 700px;
$breakpoint-not-too-wide: max-width 700px;
// for multidimensional lists, assume each item is a feature value pair
$breakpoint-wide-portrait: (max-width 700px) (orientation portrait);
// handle one-sided features (ie. monochrome)
$breakpoint-wide-portrait-mono: (max-width 700px) (orientation portrait) (monochrome);
$breakpoint-mono: monochrome;
$breakpoint-hi-rez: min-resolution 1.5dppx;

@import '../_vendor/breakpoint';


