- site = { name: 'Codekit starter', copyrightYear: 2014, lang: 'en-gb', dir: 'ltr' }

- author = { name: 'Lance Guyatt', url: 'http://lanceguyatt.com' }

- paths = { images: 'images/', css: 'stylesheets/css', js: 'javascripts/js' }

