- site = { name: 'CodeKit Starter', description: 'CodeKit Starter boilerplate', url: 'http://lanceguyatt.com/', copyrightYear: 2014, lang: 'en-gb', dir: 'ltr', locale: 'en_GB', type: 'webpage', image: 'apple-touch-icon-precomposed.png' }

- author = { name: 'Lance Guyatt', url: 'http://lanceguyatt.com', twitter: '@lanceguyatt' }

- paths = { images: 'images/', css: 'stylesheets/css', js: 'javascripts/js' }

